* {
  font-family: 'Oxygen', sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  color: #000000;
  height: 100%;
  font-size: 1px;
  font-size: 0.0651vw;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
.main__container {
  font-size: 24em;
  font-weight: 300;
  padding: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pixelated {
  image-rendering: pixelated;
}
.nav-link {
  text-decoration: none;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.2s;
  color: #000000;
}
.nav-link + .nav-link {
  border-left: 1px solid #aaaaaa;
}
.nav-link:hover {
  background-color: #f5f5f5;
}
.nav-container {
  margin-top: 15px;
}
.main__header {
  margin: 20px;
}
.img__container {
  position: relative;
}
.preview {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
}
.preview:hover {
  opacity: 1;
}
